*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "navbar"
    "select-menu"
    "sales"
    "footer";
    grid-template-rows: 1fr 1fr 5fr 1fr;
}
.navbar{
    background-color: #fff;
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.navbar__option{
    display: none;
}
.navbar__logo{
    width: 250px;
    display: flex;
    align-items: center;
}
.navbar__logo_logo{
    width: 50px;
}
.navbar__logo__letter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navbar__logo__letter_title1{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.navbar__logo__letter_title2{
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    font-style: italic;
}
.logo{
    width: 30px;
}
.select-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    grid-area: select-menu;
    padding-left: 10%;
    padding-right: 10%;
}
.select-menu-title{
    padding-bottom: 10px ;
}
.select_menu_option{
    width: 100%;
    background-color: #ccd8bc;
}
.sales{
    grid-area: sales;
}
.main{
    display: flex;
    flex-direction: column;
    height: 65vh;
    overflow-y: auto;
    background-color:  #fff;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    gap: 20px;
}
.main__card{
    width: 100%;
    height: 330px;
    /* border: 1px inset #ccd8bc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
   
.main__card__img{
    width: 80%;
}
.main__card__title{
    font-weight: bold;
    margin: 20px 0px 20px 0;
}
.main__card__description{
    margin: 10px 0px 20px 0;
    font-weight: 200;
}
.main__card__button{
    width: 80px;
    height: 40px;
}
.paginacion ul{
    text-align: center;
    list-style: none;
    
}
.paginacion ul li{
    display: inline-block;
    /* margin-right: 10px; */
    width: 30px;
    
}
.paginacion ul li a{
    display: block;
    padding: 5px 5px;
    color: #000;
    text-decoration: none;
    border: 1px solid #a0a0a0;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #468a84;
    grid-area: footer;
    padding-left: 10%;
    padding-right: 10%;
}
.footer p{
    font-weight: 200;
}

@media (min-width: 576px){
    .container{
        grid-template-areas: 
        "navbar select-menu"
        "navbar sales"
        "footer sales";
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr 6fr 1fr;
    }
    .navbar{
        background-color: #558c9e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 20px;
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar__menu{
        display: none;
    }
    .navbar__option{
        color: #fff;
        display: contents;
    }
    .navbar__option ul{
        list-style: none;
    }
    .navbar__option ul li p{
        padding-top: 5px;
    }
    .navbar__logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .navbar__logo_logo{
        width: 100px;
    }
    .logo{
        width: 75px;
    }
    .navbar__logo__letter{
        color: #fff;
        justify-content: center;
    }
    .navbar__logo__letter_title1{
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .navbar__logo__letter_title2{
        font-size: 14px;
        font-weight: 500;
        padding-left: 5px;
        font-style: italic;
    }
    
    .main{
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        height: 75vh;
        padding-left: 5%;
        padding-right: 5%;
        gap: 2px;
    }
    .main__card{
        width: 260px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .footer p{
        font-size: 12px;
    }
}